# Port for the contact microservice to listen on
PORT=4000

# MongoDB connection string
# Local development:
# MONGO_URI=mongodb://localhost:27017/contacts
#
# In Kubernetes, this is set via deployment env:
# MONGO_URI=mongodb://mongo-svc:27017/contacts
MONGO_URI=mongodb://localhost:27017/contacts
